<!DOCTYPE html>
<html>
  <head>
    <title>Shopy Party</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <script src="https://use.fontawesome.com/e7bcebef54.js"></script>

  </head>
  <nav>
    <div class='navbar'>
      <div class='title'>
        Shopy Party
      </div>
    </div>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
